<% include partials/header %>

<h1>Форма регистрации на сайте Сокол</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="имя пользователя">
    <input type="password" name="password" placeholder="пароль">
    <!--<input type="submit">-->
    <button>Регистрация</button>
</form>

<% include partials/footer %>