<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h2>Сокол сайт для туристов !</h2>
            <p  style="font-size: 12px;">Демо-сайт написан на JS, Node.js с использованием Express, Passport, MongoDB и т.д.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Добавить место/лагерь</a>
            </p>
        </div>
    </header>
    
    <div class="row">
        <div class="col-lg-12">
            <h3>Самые популярные лагеря:</h3>
        </div>
    </div>
    
    <div class="row text-center" style="display:flex; flex-wrap:wrap; ">
        <% campgrounds.forEach(function(camp){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img alt="camp image" src="<%=camp.image%>">
                    <div class="caption">
                        <h3><%=camp.name%> </h3>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">Подробнее</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>